<!DOCTYPE html>
<html lang="en">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Run iOS apps & games in fullscreen mode with mouse, keyboard & controller support." />
		<meta name="keywords" content="Play Cover, Play Cover download, Play Cover changelog, Play Cover donate, Play Cover team, Play Cover mac, Play Cover intel mac, Play Cover faq, Play Cover contact, Play Cover copyright, Play Cover legal notice, Play Cover PlayPass, PlayPass" />
		<title>Changelog | PlayCover </title>
		<link href="/static/css/styles.css" rel="stylesheet" />
		<link rel="shortcut icon" type="image/jpg" href="/static/assets/favicon.ico" />
		<script src="/static/js/local-storage-track.js"></script>

		<!-- fonts import -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- Open Sans and Source Sans Pro import -->
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
	</head>

	<body class="flex flex-col h-screen justify-between bg-gray-100 dark:bg-body font-sourceSansPro transition duration-200 ease-in-out">
		{% include 'components/navigation_bar.html' %}
		<!-- auto closer for lang menu -->
		<!-- auto closer for lang menu -->
		<div class="auto-closer hidden z-10 w-[100%] h-2 absolute"></div>

		<!-- content -->
		<main class="pb-16">
			<!-- heading -->
			<header class="pt-32 xl:pt-36 pb-2 flex justify-center">
				<span class="hidden sm:flex font-semibold text-5xl text-gray-700 dark:text-menu-pink transition duration-200">Changelog</span>
				<span class="sm:hidden flex flex-col items-center text-5xl font-semibold text-gray-700 dark:text-menu-pink transition duration-200 space-y-3 text-center">
					<p>Changelog</p>
				</span>
			</header>

			<section class="px-[12%] pt-14 flex space-x-5 text-gray-700 dark:text-[#ADAEAD]">
				<!-- left side -->
				<aside class="flex flex-col items-center md:-translate-x-10 md:opacity-25 transition duration-[1200ms] ease-out" data-replace='{ "md:-translate-x-10": "md:translate-x-0", "md:opacity-25": "md:opacity-100"}'>
					<!-- spinning circle and dotted line -->
					<div class="flex flex-col items-center">
						<!-- spinning circle -->
						<div class="h-4 w-4 rounded-full border-2 border-solid border-r-menu-pink border-t-menu-pink dark:border-r-menu-pink dark:border-t-menu-pink border-gray-300 dark:border-gray-600 rotate-45"></div>
						<!-- dotted line -->
						<div class="dotted-line border-l-2 border-dotted border-gray-300 dark:border-gray-600 h-[4.5rem]"></div>
					</div>

					<!-- latest release -->
					<div class="flex flex-col items-center">
						<!-- yellow circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-menu-pink "></div>
					</div>

					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-[50rem] border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>

					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>

					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>

					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>

					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>
					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>
					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>
					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>
					<!-- COPY for past releases -->
					<div class="flex flex-col items-center">
						<!-- vertical line *REMOVE HIDDEN -->
						<div class="changelog-ruler h-20 border-l-2 border-solid border-gray-300 dark:border-gray-600"></div>
						<!-- circle -->
						<div class="h-3 w-3 rounded-full border-2 border-solid border-gray-400 dark:border-gray-400"></div>
					</div>
				</aside>

				<!-- right side -->
				<div class="flex flex-col md:translate-x-6 md:opacity-30 transition duration-[1200ms] ease-out" data-replace='{ "md:translate-x-6": "md:translate-x-0", "md:opacity-30": "md:opacity-100"}'>
					<div class="h-20"><p class="text-sm">More new features are under development...</p></div>

					<!-- 0.7.3 -->
					<!-- copy for latest release -->
					<article class="changelog-text pb-8">
						<!-- latest release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="text-menu-pink font-medium text-xl">0.7.3</h2>
									<p class="text-sm">(10-09-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>Game controller key mapping for games that don’t support gamepads (NOTICE: Genshin Impact's native controller support is not working for now)</li>
										<li>Fixed bug of mouse reset on Burst (Ultimate) in Genshin Impact</li>
										<li>Fixed bug of mouse reset on Burst (Ultimate) in Genshin Impact</li>
										<li>Smoother mouse movement</li>
										<li>Fixed improper scaling in Windowed mode (edited)</li>
										<li>App launcher now allows you run apps directly from PlayCover</li>
										<li>With 'Update PlayTools' context-menu option you can install new versions of in-game controls without reinstalling the whole app</li>
										<li>If something goes wrong, you can erase PlayTools settings with 'Reset PlayTools settings' option instead of whole app cache clear</li>
										<li>'Downloads' tab of sidebar contains links for latest decrypted app versions (I will extended this list and make this dynamic next update)</li>
										<li>Fixed error with iCloud / Dropbox documents syncing folders</li>
										<li>Now sidebar has fixed min width and also app has new minimum size</li>
										<li>Improved downloads UI, so it will provide download link based on your region</li>
										<li>Improved Settings Ui, so now you can copy the command</li>
										<li>Multi-lang Support</li>
										<li>Fixed crash on startup for some users</li>
										<li>Now Alt/Option button also hides/shows menu bar, so you can easily access settings of Window control buttons</li>
										<li>PlayCover shows a notification when finished installing an app</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.7.3" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.6.2 -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.6.2</h2>
									<p class="text-sm">(29-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>Keymapping elements will resize on window size change</li>
										<li>Special indicator will be shown on entering and leaving editor mode</li>
										<li>All parent UIViews scale properly (web announcements inside Genshin Impact are fixed, some games as such as Genshin Impact currently require restarting for proper scale after window change)</li>
										<li>Fixed MenuBar that covered game window in Windowed mode</li>
										<li>Resolved problem of not saving key mappings for some users</li>
										<li>Fixed crash on entering party menu in Genshin Impact for some users</li>
										<li>Improved graphics in 3x times</li>
										<li>Total average memory usage by games decreased by x2 times</li>
										<li>Fixed problem when camera movement vanished after cutscene</li>
										<li>Camera now properly appears after mapping without additional manipulations</li>
										<li>Now PlayCover contains automated crashes report system, which works not only inside app, but also every game converted with PlayCover</li>
										<li>Started migrate games settings to PlayCover for syncing and easily management</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.6.2" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.6.1 -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.6.1</h2>
									<p class="text-sm">(22-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>This release contains the most common bug fixes of 0.6.0</li>
										<li>NSInvocation Dynamic error on launch solved</li>
										<li>Resolved problem when dock and menu bars sometimes are not hidden in Fullscreen mode</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.6.1" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.6.0 -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.6.0</h2>
									<p class="text-sm">(22-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>'Fix login' option is now available for everyone. Follow <a href="https://www.youtube.com/watch?v=H3CoI84s_FI&t=94s" target="_blank" class="underline">video instruction</a> to use it. Also you can find <a href="https://www.applegamingwiki.com/wiki/PlayCover" target="_blank" class="underline">text version</a> here. If you have any problems, please, click on 'Troubleshoot' button. Be aware that all this you perform at your own responsibility, I am providing help with this method only for Supporters.</li>
										<li>App decryption was significantly improved since last release</li>
										<li>Keymapping elements are now saved properly. No more random vanishing.</li>
										<li>Now dock and menu dock are hidden during Gaming mode. Press Alt or Option to switch between modes.</li>
										<li>Fixed bug with mouse stuck after cutscenes in game</li>
										<li>Alternative decryption method is now available for everyone</li>
										<li>LMB / RMB / MMB bind (use Shift + R , L, M to bind)</li>
										<li>Auto screen resize. Now screen will be resized automatically in such games as Wildrift, Among Us e.t.c. No more broken resolution</li>
										<li>However if you would like to set custom resolution, you can use Shift + Arrows to move screen, or Shift + '+' / '-' to change screen width. Or Control + Shift + '+' / '-' to change screen height</li>
										<li>External mouse users be aware, that right now you should unplug the mouse after each setup. I'll make feature to select Trackpad/ Mouse optionally in future</li>
										<li>Intel user notice</li>
										<li>Now to show or hide cursor, you will just need to press 'Alt' button. No need to hold anymore</li>
										<li>Various UI bugs were fixed</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.6.0" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.5.0 -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.5.0</h2>
									<p class="text-sm">(12-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>For those apps which currently crashes there is a new checkbox. Now you can export such apps for Sideloadly and then install on Mac</li>
										<li>iOS support. With PlayCover, you can also play any game with Mouse & Keyboard support. Just enable them in Assistive Touch menu. Fullscreen is ofc disabled</li>
										<li>System specific bug fixes</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.5.0" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.4.0 -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.4.0</h2>
									<p class="text-sm">(10-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>In this release you still can't decrypt some apps, but this system was massively improved</li>
										<li>If you have decryption error, please download .ipa from AppDb</li>
										<li>Better error handling for decryption</li>
										<li>New decryption method</li>
										<li>New patch method</li>
										<li>Now app will clear cache on crash</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.4.0" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.1.1 -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.1.1</h2>
									<p class="text-sm">(09-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>Now you are able to use .ipa from iMazing or M1 Checker</li>
										<li>Keymapping fix</li>
										<li>Dynamic screen support</li>
										<li>Fixed file open crashes</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.1.1" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.1.0-fix -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.1.0-fix</h2>
									<p class="text-sm">(06-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>Fixed endless loading bug on discard File Open dialog</li>
										<li>Improved log system (real time)</li>
										<li>Optionally Fullscreen</li>
										<li>Fixed bug when opened .ipa file will be deleted</li>
										<li>Now app will be save in Documents/PlayCover folder</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.1.0-fix" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.1.0-beta -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.1.0-beta</h2>
									<p class="text-sm">(05-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>Now you can import decrypted .ipa directly</li>
										<li>Fixed "System Error 4"</li>
										<li>Fixed bug with copying system files to zip</li>
										<li>Fixed bug with "Minimum required OS version is 13.0"</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.1.0-beta" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>

					<!-- 0.0.2-alpha -->
					<!-- copy for past releases -->
					<article class="changelog-text pb-8">
						<!-- release text -->
						<div class="flex flex-col">
							<!-- each release -->
							<div class="flex flex-col">
								<!-- version and date -->
								<div class="flex space-x-5 items-center pb-2">
									<h2 class="font-medium text-xl">0.0.2-alpha</h2>
									<p class="text-sm">(04-08-2021)</p>
								</div>

								<!-- release notes -->
								<div>
									<ul class="text-sm space-y-2 list-outside list-disc pl-4">
										<li>This release just to publish source code</li>
										<li>Fixed "App cannot be opened" error</li>
										<li>Now the app is able to open any decrypted .app file ( you can find them by downloading .ipa from AppDb, renaming .ipa to .zip and extracting it)</li>
										<li>Fullscreen and game controller currently not functional</li>
										<li>Fixed icon size</li>
										<li>Added debug log</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- line divide -->
						<div class="border-t w-[100%] border-gray-300 dark:border-gray-600 my-3 mb-5"></div>

						<!-- github release button -->
						<a href="https://github.com/Letscoder/PlayCover/releases/tag/0.0.2-alpha" class="bg-gray-800 rounded text-sm text-gray-200 dark:text-gray-300 px-3 py-2" target="_blank">GitHub Release</a>
					</article>
				</div>
			</section>
		</main>

		{% include 'components/donate.html' %}

		{% include 'components/contact.html' %}

		{% include 'components/footer.html' %}

		<!-- fixer for css classes used in js files but not compiled by tailwind-->
		<!-- when JIT watch mode is run again, it checks html file and removes all the classes from styles.css that doesn't exist in the html file even tho they exist in the js files hence it breaks stuff -->
		<!-- add the classes used in js files here to fix -->
		<div class="hidden rotate-180 dark:shadow border-transparent dark:border-transparent bg-gray-300 dark:bg-[#1a1a1a] animate-bounce animate-pulse overflow-hidden"></div>

		<!-- js -->
		<script src="/static/js/load-transitions.js"></script>
		<script src="/static/js/language-button.js"></script>
		<script src="/static/js/download-link.js" type="module"></script>
		<script src="/static/js/mobile-buttons.js"></script>
		<script src="/static/js/dark-mode.js"></script>
		<script src="/static/js/scroll-animations.js"></script>
		<script src="/static/js/donate-popup.js"></script>
		<script src="/static/js/contact-popup.js"></script>
		<script src="/static/js/auto-closer.js"></script>
		<script src="/static/js/changelog.js"></script>
	</body>
</html>
