<!-- nav bar -->
<nav class="nav-bar max-w-screen px-6 lg:pr-12 lg:pl-14 mx-auto py-3 lg:py-1 fixed w-screen top-0 bg-gray-100 dark:bg-body transition duration-200 ease-in-out filter z-20 select-none">
    <div class="flex justify-between">
        <!-- logo -->
        <div class="flex items-center lg:mr-10 space-x-10">
            <a href="/" class="flex items-center">
                <img class="h-14 md:h-16 w-14 md:w-16 rounded-lg" src="/static/assets/logo.png" alt="PlayCover logo" />
            </a>
            <!-- primary nav -->
            <div class="hidden xl:flex items-center space-x-5 pt-1 text-[1.05rem] font-semibold text-center">
                <a href="/" class="rounded-full px-5 py-1 border-2 border-menu-pink text-[#f54399] transition duration-300"> Home </a>
                <a href="/changelog/" class="text-gray-600 dark:text-gray-300 rounded-full  px-5 py-1 border-2 border-transparent hover:border-menu-pink dark:hover:border-menu-pink transition duration-300"> Changelog </a>
                <a href="/faq/" class="text-gray-600 dark:text-gray-300 rounded-full  px-5 py-1 border-2 border-transparent hover:border-menu-pink dark:hover:border-menu-pink transition duration-300"> FAQ </a>
                <a href="/team/" class="text-gray-600 dark:text-gray-300 rounded-full  px-5 py-1 border-2 border-transparent hover:border-menu-pink dark:hover:border-menu-pink transition duration-300"> Team </a>
                <button class="font-semibold contact-nav-button text-gray-600 dark:text-gray-300 rounded-full  px-5 py-1 border-2 border-transparent hover:border-menu-pink dark:hover:border-menu-pink transition duration-300">Contact Us</button>
            </div>
        </div>

        <!-- secondary nav -->
        <div class="hidden xl:flex items-center space-x-5">
            <!-- playpass button -->
            <div class="relative">
                <div class="h-[3.5rem] flex items-center">
                    <button class="group playpass-nav-button  bg-gray-700 dark:bg-gray-300 text-gray-200 dark:text-gray-800 hover:bg-gray-900 dark:hover:bg-white rounded-full px-5 py-1 transition duration-300">
                        <span class="text-[1.05rem] font-semibold"> Get PlayPass </span>
                    </button>
                </div>
            </div>

            <!-- language button and menu-->
            <ul>
                <li class="relative text-[1.05rem] font-semibold">
                    <!-- language button -->
                    <button class="language-button flex items-center space-x-1 rounded-full px-5 py-1 border-2 border-transparent hover:border-menu-pink dark:hover:border-menu-pink transition duration-300 group">
                        <span class="text-gray-600 dark:text-gray-300 transition-colors duration-200 group-hover:text-gray-600 dark:group-hover:text-gray-200 font-semibold"> English </span>
                        <!-- icon -->
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transition duration-200 text-gray-600 dark:text-gray-300 group-hover:text-gray-600 dark:group-hover:text-gray-200 transform language-menu-icon" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                        </div>
                    </button>

                    <!-- language menu -->
                    <div class="language-menu absolute bg-gray-100 dark:bg-body right-0 rounded-md w-[100%] pb-3 pt-6 transform transition-all duration-200 scale-0 opacity-0 -translate-y-2/4 ease-in-out">
                        <!-- text -->
                        <ul class="space-y-4 flex flex-col items-center">
                            <li>
                                <a href="/lang/cn" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200"> 简体中文 </a>
                            </li>
                            <li>
                                <a href="/lang/ru" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200"> Русский </a>
                            </li>
                            <li class="hidden">
                                <a href="/lang/jp" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200"> 日本語 </a>
                            </li>
                            <li>
                                <a href="/lang/de" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200"> Deutsch </a>
                            </li>
                            <li>
                                <a href="/lang/id" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200 flex flex-col items-center"><span>Bahasa</span>   Indonesia </a>
                            </li>

                            <li class="hidden">
                                <a href="/lang/kr" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200"> 한국어 </a>
                            </li>
                            <li>
                                <a href="/lang/es" class="text-gray-700 hover:text-menu-pink dark:text-gray-300 dark:hover:text-menu-pink transition-colors duration-200"> Español </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>

            <!-- light/dark theme button -->
            <div class="relative select-none">
                <label for="theme-toggle" class="theme-label w-[3.5rem] h-7 rounded-full bg-gray-100 dark:bg-[#272727] border border-gray-600 dark:border-[#414141] flex items-center justify-between transition duration-300 ease-in-out cursor-pointer select-none">
                    <!-- sun -->
                    <div class="pl-[0.26rem] opacity-0 dark:opacity-100 transition duration-300 ease-in-out">
                        <svg class="h-5 text-gray-300" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd" />
                        </svg>
                    </div>

                    <!-- moon -->
                    <div class="pr-[0.55rem] dark:opacity-0 transition duration-300 ease-in-out">
                        <svg class=" h-[0.80rem] rotate-[140deg] text-gray-600 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330 330" xml:space="preserve">
									<path d="M37.502 35.07a15 15 0 0 0 7.489 12.984c41.64 24.088 67.507 68.898 67.507 116.947 0 48.045-25.867 92.855-67.507 116.943a14.999 14.999 0 0 0 0 25.967C69.972 322.362 98.505 330 127.506 330c90.977 0 164.992-74.018 164.992-164.998C292.498 74.02 218.482 0 127.506 0 98.504 0 69.971 7.637 44.991 22.086a15 15 0 0 0-7.489 12.984z"/>
								</svg>
                    </div>

                    <!-- ball -->
                    <div class="ball dark:translate-x-[1.73rem] left-1 flex w-[20px] h-[20px] rounded-full bg-gray-600 dark:bg-gray-300 absolute transition ease-in-out duration-200"></div>
                </label>
            </div>
        </div>

        <!-- mobile buttons -->
        <div class="xl:hidden flex items-center space-x-4">
            <!-- light/dark theme button -->
            <div class="relative select-none">
                <label for="theme-toggle" class="theme-label w-[3.5rem] h-7 rounded-full bg-gray-100 dark:bg-[#272727] border border-gray-600 dark:border-[#414141] flex items-center justify-between transition duration-300 ease-in-out cursor-pointer select-none">
                    <!-- sun -->
                    <div class="pl-[0.26rem] opacity-0 dark:opacity-100 transition duration-300 ease-in-out">
                        <svg class="h-5 text-gray-300" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd" />
                        </svg>
                    </div>

                    <!-- moon -->
                    <div class="pr-[0.55rem] dark:opacity-0 transition duration-300 ease-in-out">
                        <svg class=" h-[0.80rem] rotate-[140deg] text-gray-600 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330 330" xml:space="preserve">
									<path d="M37.502 35.07a15 15 0 0 0 7.489 12.984c41.64 24.088 67.507 68.898 67.507 116.947 0 48.045-25.867 92.855-67.507 116.943a14.999 14.999 0 0 0 0 25.967C69.972 322.362 98.505 330 127.506 330c90.977 0 164.992-74.018 164.992-164.998C292.498 74.02 218.482 0 127.506 0 98.504 0 69.971 7.637 44.991 22.086a15 15 0 0 0-7.489 12.984z"/>
								</svg>
                    </div>

                    <!-- ball -->
                    <div class="ball dark:translate-x-[1.73rem] left-1 flex w-[20px] h-[20px] rounded-full bg-gray-600 dark:bg-gray-300 absolute transition ease-in-out duration-200"></div>
                </label>
            </div>

            <!-- nav button -->
            <div class="flex items-center">
                <button class="mobile-button text-menu-pink active:text-logo-purple-dark transition-colors">
                    <!-- icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="mobile-menu xl:hidden max-h-[85vh] overflow-auto hidden relative">
        <div class="flex flex-col items-center space-y-5 pt-5 pb-3 text-lg md:text-xl">
            <a href="/" class="block text-menu-pink dark:text-menu-pink
					pb-1 border-2 rounded-full px-5 py-1 border-menu-pink">Home</a>

            <a href="/changelog/" class="block text-gray-600 dark:text-gray-300">Changelog</a>
            <a href="/faq/" class="block text-gray-600 dark:text-gray-300">FAQ</a>
            <a href="/team/" class="block text-gray-600 dark:text-gray-300">Team</a>
            <button class="mobile-contact-button block text-gray-600 dark:text-gray-300">Contact Us</button>

            <!-- mobile language button -->
            <button class="mobile-language-button text-gray-600 dark:text-gray-300 flex items-center space-x-1">
                <p class="pl-3">English</p>
                <!-- icon -->
                <div class="pt-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-lang-icon transform h-5 w-5 transition-colors duration-200 group-hover:text-pink-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
            </button>

            <!-- mobile language menu -->
            <div class="mobile-language-menu hidden rounded-lg">
                <div class="w-[85vw] bg-gray-50 dark:bg-[#1E1E1E] shadow-inner grid grid-cols-2 place-items-center py-4 gap-y-5 text-gray-600 dark:text-gray-300 transition duration-200 ease-in-out rounded-lg">
                    <a href="/lang/cn">简体中文</a>
                    <a href="/lang/ru">Pусский</a>
                    <a href="/lang/de">Deutsch</a>
                    <a href="/lang/jp" class="hidden">ホーム </a>
                    <a href="/lang/es">Español</a>
                    <a href="/lang/kr" class="hidden">한국어</a>
                    <a href="/lang/id" class="flex flex-col items-center justify-center">Bahasa <span>Indonesia</span> </a>
                </div>
            </div>

            <button class="mobile-playpass-button block bg-gray-700 dark:bg-gray-300 text-gray-200 dark:text-gray-800 hover:bg-gray-900 dark:hover:bg-white rounded-full transition duration-300 px-5 py-1">Get PlayPass</button>
        </div>
    </div>
</nav>
